@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <META name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tilak Portfolio Website</title>
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
        integrity="sha256-46qynGAkLSFpVbEBog43gvNhfroj+BmwXdxFgVK/Kvc" crossorigin="anonymous" />


        <!--font update-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Roboto+Slab:400,700&
        display=swap" rel="stylesheet">
        


        


        <link rel="stylesheet" href="css/style.css">



    </head>
    <body>
        <header>
            <div class="logo">
                <img src="img/top.png" alt="">
            </div>
            <button class="nav-toggle" aria-lable="toggle navigation">
                <span class="hamburger"></span>
            </button>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">My Services</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About me</a></li>
                    <li class="nav__item"><a href="#work" class="nav__link">My Work</a></li>
                </ul>
            </nav>
        </header>

        <!-- Introduction-->
        <section class="intro" id="home">
            <h1 class="section__title section__title--intro">
                Hi, I am <strong>Tilak Parajuli</strong>
            </h1>
                <p class="section__subtitle section__subtitle--intro">Tech Enthuistic</p>
                <img src="img/IMG_2021.JPG" alt="a picture of Tilak Parajuli" class="intro__img">
        </section>

        <!--My Services-->
        <section class="my-services" id="services">
            <h2 class="secton__title section__title--services">What i do</h2>
            <div class="services">
                <div class="service">
                    <h3>Mentorship</h3>
                    <p>A  'mentor' is  someone  who serves as  a  counselor or a guide. To
                       have a mentor  is an  honor. Mentor could  be  anyone - our teacher,
                       our parents, any senior schoolmate or a person in our neighbourhood.
                       The one  who  teaches us how to live our life  to  monitor our ways, 
                       actions and to tell us how to get success in our life. They guide us
                       about  the  basic routines,  do's  and  don'ts  and  the various job 
                       responsibilities. Thus  there is a great role of mentor in our lives. </p>
                </div> <!-- / service-->

                <div class="service">
                    <h3>Tech Consulting</h3>
                    <p>Thanks  to  technology  existing  as an essential part of our modern
                       world, technology consulting  need  to constantly be adapting to the
                       latest   trends.  Technology  plays  a  more   significant  role  in 
                       businesses, and consultants are  brought in to  help  businesses  to 
                       use technology effectively.</p>
                </div> <!-- / service-->

                <div class="service">
                    <h3>Machine Learning</h3>
                    <p>Machine learning is an  application of artificial  intelligence (AI) 
                       that provides systems the ability to automatically learn and improve
                       from   experience   without  being  explicitly  programmed.  Machine 
                       learning  focuses  on the  development of computer programs that can 
                       access data and use it learn for themselves</p>


                <div class="service">
                    <h3>Cyber Security</h3>
                    <p>Cyber security is the practice of defending computers, servers, mobile
                     devices, electronic systems, networks, and data from malicious attacks. 
                     It's also known as information technology security or electronic 
                     information security. </p>

                </div> <!-- / service-->
                </div> <!-- / service-->
            </div><!--services--> 
            <a href="#work" class="btn">My Work</a> 
        </section>

        <!-- About me -->
        <section class="about-me" id="about">
                <h2 class="section__title section__title--about">Who I am</h2>
                <p class="section__subtitle section__subtitle--about">Developer,software engineer & designer</p>

                <div class="about-me__body">
                    <p>Water, known to be the universal solvent,
                        plays a key role in the survival of various forms of life on earth. It is used for various
                         purposes such as drinking, cleaning, cooking, washing and bathing. Besides these domestic 
                         uses, major amount of water is used in the agricultural sector mainly for the purpose of 
                         irrigation. A substantial amount of this substance is also used in the industrial sector.</p>
                    <p>Water, known to be the universal solvent,
                        plays a key role in the survival of various forms of life on earth. It is used for various
                         purposes such as drinking, cleaning, cooking, washing and bathing. Besides these domestic 
                         uses, major amount of water is used in the agricultural sector mainly for the purpose of 
                         irrigation. A substantial amount of this substance is also used in the industrial sector.</p>
                </div>
                <img src="img/BTOGE8918.JPG" alt="Tilak tech enthusiast" class="about-me__img">
        </section>

        <!--My Work-->
        <section class="my-work" id="work">
            <h2 class="section__title section__title--work">My work</h2>
            <p class="section__subtitle section__subtitle--work">A selection of my range of work</p>

            <div class="portfolio">
                <!--item 01-->
                <a href="#" class="portfolio__item">
                    <img src="img/01.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 02-->
                <a href="#" class="portfolio__item">
                    <img src="img/02.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 03-->
                <a href="#" class="portfolio__item">
                    <img src="img/03.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 04-->
                <a href="#" class="portfolio__item">
                    <img src="img/04.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 05-->
                <a href="#" class="portfolio__item">
                    <img src="img/05.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 06-->
                <a href="#" class="portfolio__item">
                    <img src="img/06.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 07-->
                <a href="#" class="portfolio__item">
                    <img src="img/07.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 08-->
                <a href="#" class="portfolio__item">
                    <img src="img/08.JPG" alt="" class="portfolio__img">
                </a>

                <!--item 09-->
                <a href="#" class="portfolio__item">
                    <img src="img/09.JPG" alt="" class="portfolio__img">
                </a>


                <!--item 10-->
                <a href="#" class="portfolio__item">
                    <img src="img/10.JPG" alt="" class="portfolio__img">
                </a>                




            </div>
        </section>


        <!--Foorter-->
        <footer class="footer">
            <a href="mailto:meetilakparajuli122@gmail.com" class="footer__link">meetilakparajuli122@gmail.com</a>
            <ul class="social-list">
                <li class="social-list__item">
                    <a class="social-list__link"href="https://github.com/Tilak-Parajuli">
                        <i class="fab fa-github"></i>
                    </a>
                </li> 

                <li class="social-list__item">
                    <a class="social-list__link" href="https://www.linkedin.com/in/tilak-parajuli-777411179/">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </li>

                <li class="social-list__item">
                    <a class="social-list__link" href="https://twitter.com/tilak_parajuli">
                       <i class="fab fa-twitter-square"></i>
                    </a>
                </li>

                <li class="social-list__item">
                    <a class="social-list__link" href="https://instagram.com/tilak_parajuli">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </li>

                <li class="social-list__item">
                    <a class="social-list__link" href="https://facebook.com/tilakparajuli122">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>





            </ul>
        </footer>

         
        <script src="https://kit.fontawesome.com/20af63ef6b.js" crossorigin="anonymous"></script>
        <script src="js/index.js"></script>

    </body>
</html>
